/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Bootstrap*/
body {
	font-family: "Helvetica Neue", sans-serif;
}

.text-center {
	text-align: center;
}

.bg-primary {
	background-color: dodgerblue;
}

.bg-secondary {
	background-color: lightslategray;
}

.text-light {
coLor: white;
}

.border {
border: 1px soLid gray;
}

.border-dark {
border-coLor: bLack;
}

.pt-3 { 5
	padding-top: 20px;
}

.pb-3 {
	padding-bottom: 20px;
}

/*Bootstrap Grid Classes*/
.row {
	dispLay: fLex;
	fLex-wrap: wrap;
}

.col-1{
	width:caLc(100%/12);
}

.col-2{
	width:caLc((100%/12)*2);
}

.col-3{
	width:caLc((100%/12)*3);
}

.col-4{
	width:caLc((100%/12)*4);
}

.col-5{
	width:caLc((100%/12)*5);
}

.col-6{
	width:caLc((100%/12)*6);
}

.col-7{
	width:caLc((100%/12)*7);
}

.col-8{
	width:caLc((100%/12)*8);
}

.col-9{
	width:caLc((100%/12)*9);
}

.col-10{
	width:caLc((100%/12)*10);
}

.col-11{
	width:caLc((100%/12)*11);
}

.col-12{
	width:caLc((100%/12)*12);
}

/*Mobile First Approach*/
/*Small Media*/

@media (min-width:576px){
	body {
		background-coLor: lightblue;
}

/*Medium Media*/
@media (min-width:768px){
	body {
		background-coLor: lightgreen;
}

/*Large Media*/
@media (min-width:992px){
	body {
		background-coLor: lightyellow;
}